@import 'vars';

// components:
@import 'sidenav';
@import 'selection-category';



body {
    background-color: $bg-color;
    text-align: center;
    font-family: 'Alegreya SC', serif;
    transition: background-color 0.5s;
    margin: 20px;
}

.main-container{
    max-width: $main-container-width;
    width:98%;
    margin: 0 auto;
}

h1 {
    text-shadow: 4px 3px 0 $highlight-color, 9px 8px 0 rgba(0,0,0,0.15);
    color: black;
    font-size: 2em;
     margin-bottom: 50px;
}


.category-btn{
    margin-left:30px;
    height:70px; 
    width:70px;
     background-size: cover;                      
    background-repeat: no-repeat;
    // border-radius: 7px;
    opacity: 0.5;
    transition: opacity .5s ease;

    &.games{
        background-image:url(../img/games-folder.png);
    }
    &.utils{
        background-image:url(../img/utils-folder.png);
    }
    &.active,&:hover{
        // box-shadow: 0px 0px 36px 9px rgba(179,204,255,1);
        opacity: 1;
        // border-bottom: 4px solid #b3ccff ;
    }

}


.thumbnail img {
    height: 70px;
    max-width: 100%;
    padding: 4px;
    line-height: 2px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cards-container p {
    font-family: 'Quicksand', sans-serif;
}

.card {
    box-shadow: 10px 10px 33px 1px rgba(0,0,0,0.59);
    border-radius: 10px;
}

.col-centered {
  display:inline-block;
   float:none;
}

.col-min {
   min-width:320px;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: #efefef;
  width: 100%;
  text-align: center;
}

// mobile
@media screen and (max-width: 480px) {
    
    p{
        font-size: 14px;
    }

    .card {     
        height: 80px;
        transition: height 0.5s;
        overflow: hidden;
    }

    .card:hover{
        cursor: pointer;
    }

    .grow{
    height:230px;
    }

}

/*for tablets*/
@media screen and (min-width: 576px) {
	h1 {
		font-size: 40px;
	}

    p{
        font-size: 16px;
    }

}

/*for desktops*/
@media screen and (min-width: 768px) {
	h1 {
		font-size: 5vw;
	}

    p{
        font-size: 16px;
    }
}

// very small output
@media screen and (max-width: 400px) {
    main{
        width: 400px;
    }

    h1, main p, .cards-container{
        // text-align: center;
        width: 85%;
    }


}

