.blinky {
    background-image: -webkit-linear-gradient(45deg, transparent 50%, #ff5703 50%),
                      -webkit-linear-gradient(135deg, transparent 50%, #ff5703 50%),
                      -webkit-linear-gradient(#ff5703, #ff5703),
                      -webkit-radial-gradient(56% 60%, circle, transparent 30%, #ff5703 30%),
                      -webkit-radial-gradient(44% 60%, circle, transparent 30%, #ff5703 30%);
    background-position: 100% 100%, 100% 100%, 50% 75%, 5% 0, 95% 0;
    background-repeat: repeat-x, repeat-x, repeat-x, no-repeat, no-repeat;
    background-size: .5em .5em, .5em .5em, .5em .5em, 1em 1em, 1em 1em;
    border-radius: 100% 100% 0 0;
    display: inline-block;
    height: 1.6em;
    margin:0;
    width: 1.6em;
    animation: blinky .8s .2s steps(4, end)  infinite;
}

@keyframes blinky {
    100% { background-position: 0 100%, 0 100%, 50% 75%, 5% 0, 95% 0; }
}

