body{
        text-align: center;
        background-color: azure;
        font-size: 200%;
        font-family: 'Viga', sans-serif;
}

h1 {
    background-color: darksalmon;
    text-align: center;
    padding: 10px;
}

.popup {
    background-color: white;
    padding: 10px;
    text-align:center;
    visibility: hidden;
    position:absolute;
    top:100px;
    left: 40%;
    opacity: 0;
    transition: opacity 0.5s;
}

table {
        margin: auto;
        border: 5px solid black;
}

img {
    height: 70px;
    width: 70px;
    display: block;
}

.glue {
    outline: solid 5px black;
    outline-offset: -2px;
}

.water {
    outline: solid 5px blue;
    outline-offset: -2px;
}

.clock{
    outline: solid 5px darkorchid;
    outline-offset: -2px;
}

.legend {
    display: inline-block;
    padding: 5px;
}

td {
    padding: 0;
}
