
/*----------  Eurofurence Font  ----------*/

@font-face {
  font-family: 'Euro';
  src: url('../assets/fonts/eurof55.ttf'); 
}


/*----------  Lato Font  ----------*/

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.ttf');
}
