
/*----------  Eurofurence Font  ----------*/

@font-face {
  font-family: 'Euro';
  src: url('../assets/fonts/eurof55.ttf'); 
}

@font-face {
  font-family: 'Maven';
  src: url('../assets/fonts/MavenPro-Regular.ttf'); 
}


