.pacman-top{
  background-color:yellow;
  height:15px;
  width:30px;
  border-radius:100px 100px 0 0;
}

.pacman-bottom{
  background-color:yellow;
  height:15px;
  width:30px;
  border-radius:0 0 100px 100px; 
}

.top-right{
  animation: spin1 0.5s infinite linear;
}

.bottom-right{
  animation: spin2 0.5s infinite linear;
}

.top-left{
  animation: spin2 0.5s infinite linear;
}

.bottom-left{
  animation: spin1 0.5s infinite linear;
}


.pacman-right{
  background-color:yellow;
  height:30px;
  width:15px;
  border-radius:0 100px 100px 0;
  display: inline-block;
  margin: 0;
}

.pacman-left{
  background-color:yellow;
  height:30px;
  width:15px;
  border-radius:100px 0 0 100px;
  display: inline-block;
}

.right-up{
  animation: spin1 0.5s infinite linear;
}

.left-up{
  animation: spin2 0.5s infinite linear;
}

.right-down{
  animation: spin2 0.5s infinite linear;
}

.left-down{
  animation: spin1 0.5s infinite linear;
}

/* Animation*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}