.first {
    background-color: red;
    /*float: left;*/
    display: inline-block;
    width: 100px;
}

.second{
    background-color: blue;
    /*float: left;*/
}

div{
    background-color: brown;
    /*float: right;*/
}

