.clean-list {
  list-style: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

.pull-right {
    float: right;
}

/*----------  Flex Helpers  ----------*/

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.hidden{
  display: none;
}


/* Breakpoint mixins */

// @mixin for-mobile-only {
//   @media (max-width: $mobile-breakpoint) {
//     @content;
//   }
// }