$mobile-breakpoint: 642px;

:root {
  /* Layout */
  --container-width: 700px;
  /* Fonts */
  --primary-font: 'Asap', sans-serif;
  /* Colors */
  --header-color: #2e3641;
  --font-color: #9eb2c0;
  --emphasize-color:coral;
}